<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="HOME_LOG" value="${user.dir}/ToDoProject/logs/todolist.log"/>
    <property name="HOME_LOG_ROLLING" value="${user.dir}/ToDoProject/logs/todolist-rolling.log"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}:%line - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG_ROLLING}</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${user.dir}/ToDoProject/logs/archived/todolist-rolling.%d{s}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="code.databaseRunner.DatabaseRunnerImpl" level="trace" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>


    <root level="trace">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>